:root {
  // primary colors
  --Cyan_1: hsl(179, 70%, 34%);
  --Cyan_2: hsl(179, 48%, 46%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  //   neutral colors
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --White: white;
}
